  
.show-center {
    display: grid;
    min-height: 100vh;
    height: 100%;
    background-color:wheat;
  }
  
  .description {
    line-height: 2;
    max-width: 45em;
    color: black;
    font-size: 1.1rem;
  }
  
  span {
    font-weight: 700;
  }
  
  
  @media (min-width: 992px) {
    .show-center {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    
  }

  .link-detail {
color: blue;
width: 6rem;
  }